{% extends "weblatex/base.html" %}
{% block content %}
<h1>WebLaTeX</h1>

<h2>Songs</h2>
<ul>
<li><a href="{% url 'song_create' %}">Add</a></li>
<li><a href="{% url 'song_upload' %}">Upload</a></li>
</ul>
<table>
<thead>
<tr>
<th>Song name</th>
<th></th>
</tr>
</thead>
<tbody>
{% for song in songs %}
<tr>
<td>{{ song }}</td>
<td><a href="{% url 'song_update' pk=song.pk %}">Edit</a></td>
</tr>
{% endfor %}
</tbody>
</table>

<h2>Booklets</h2>
<p><a href="{% url 'booklet_create' %}">Add booklet</a></p>
<table>
<thead>
<tr>
<th>Booklet title</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
{% for booklet in booklets %}
<tr>
<td>{{ booklet }}</td>
<td><a href="{% url 'booklet_songs' pk=booklet.pk %}">Edit</a></td>
<td><a href="{% url 'booklet_render' pk=booklet.pk %}">Render</a></td>
<td><a href="{% url 'booklet_print' pk=booklet.pk %}">Print</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
